.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 90px;
    
    padding: 20px 0 20px  0;
    position: sticky;
    top: 0;
}
.navbarContainer{
    position: fixed;
    top: 0;
   background-color: #161514a5;
    height: 120px;
    width: 100vw;
}
.nav-connect a{
    color: white;
    text-decoration: none;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg,#DA7C25 0.36%, #B923E1 102.06% );
    font-size: 22px;
    cursor: pointer;
}
.logo{
    font-size: 42px;
}
.nav-menu li{
    position: relative;
    display: flex;
    gap: 5px;
    cursor: pointer;
}
.nav-menu li img{
    position: absolute;
    z-index: -1;
    display: flex;
    margin: auto;
    height: 30px;
    width: 30px;
    right: 0;
}
.nav-mob-close{
    display: none;
       height: 30px;
    width: 30px;
    cursor: pointer;
}
.nav-mob-open{
    display: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
@media (max-width:768px) {
    
    .navbar{
        margin: 20px 50px;
        position: fixed;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right .5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 30px;
        flex-direction: row;
        gap: 20px;
    }
}